#忽略中间文件
obj/
#meta
Support/*.meta
Editor/*.meta
#vs
*.vs
#Dotfuscated
Dotfuscated/
#.user
*.csproj.user
Support/Support.csproj.user
#Library
Library/
#Temp
Temp/
#StreamingAssets
CTPTest/Assets/StreamingAssets/*